/* Variables */

:root {
    --bg: black;
}

/* Body Styles */

canvas {
    background-color: var(--bg);
}

body {
    font-family: monospace;
    background-color: var(--bg);
    text-decoration-color: white;
}

h1 {
    color: white;
}

p {
    color: white;
}

label {
    color: white;
}

/* Nav Styles */

.nav-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 38px;
}

.left-side {
    display: flex;
}

.nav-wrapper > .left-side > div {
    margin-right: 20px;
    font-size: 0.9em;
    text-transform: uppercase;
}

.nav-link-wrapper {
    height: 22px;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.5s;
}

.nav-link-wrapper a {
    color: #8a8a8a;
    text-decoration: none;
    transition: color 0.5s;
}

.nav-link-wrapper:hover {
    border-bottom: 1px solid white;
}

.nav-link-wrapper a:hover {
    color: white;
}

.active-nav-link {
    border-bottom: 1px solid white;
}

.active-nav-link a {
    color: white !important;
}

.home-link-wrapper a {
    color: #00c649 !important;
    text-decoration: none;
}

/* Rules Styles */

/* Button Styles */

.button {
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: white;
    color: black;
    border: 2px solid #8a8a8a;
    border-radius: 15px;
}

.button:hover {
    background-color: #8a8a8a;
    color: white;
}

.plusbutton {
    width: 75px;
    height: 55px;
    cursor: pointer;
    border-radius: 15px;
    background-color: #00c649;
    font-size: 16px;
    margin: 15px 2px;
    margin-left: 10px;
    padding: 16px 32px;
    transition-duration: 0.4s;
    color: white;
    border: 2px solid white;
}

.plusbutton:hover {
    background-color: white;
    color: #00c649;
}

.minusbutton {
    width: 75px;
    height: 55px;
    cursor: pointer;
    border-radius: 15px;
    background-color: #780000;
    font-size: 16px;
    margin: 15px 2px;
    margin-left: 3px;
    padding: 16px 32px;
    transition-duration: 0.4s;
    color: white;
    border: 2px solid white;
}

.minusbutton:hover {
    background-color: white;
    color: #780000;
}

/* Progress Bar Styles */

#betBar {
    width: 50%;
    background-color: white;
    text-align: right;
}

#bar {
    width: 1%;
    height: 30px;
    background-color: #00c649;
    line-height: 30px;
    color: white;
}